---
import MainLayout from "@/layouts/MainLayout.astro";
import type { Page } from "@/types";
import { url } from "@/lib/utils/url";
import notFoundImage from "@/assets/404_anime.png";
import { Image } from "astro:assets";

const page: Page = {
  title: "404",
  description: "description",
};
---

<MainLayout
  title={page.title}
  description={page.description}
  mainClass="mx-auto w-full lg:max-w-[74rem] md:my-1 flex-grow flex"
>
  <div
    class="py-8 px-4 mx-auto max-w-screen-xl w-fulllg:py-16 lg:px-6 flex items-center justify-center"
  >
    <div
      class="max-w-screen-sm text-center flex flex-col items-center justify-center"
    >
      <Image
        src={notFoundImage}
        alt="404"
        class="-mb-16 mx-auto max-w-[16rem] dark:brightness-75"
      />
      <!-- <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary">404</h1> -->
      <p
        class="mb-4 text-3xl font-bold text-gray-700 md:text-4xl dark:text-gray-200 z-10 drop-shadow-[3px_-2px_0px_white] dark:drop-shadow-[3px_-2px_0px_black]"
      >
        404 Not Found!
      </p>
      <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400">
        This page is missing
      </p>
      <a
        href={url("/")}
        class="inline-flex text-white bg-primary hover:bg-primary/90 rounded-lg text-sm px-4 py-2 text-center my-4 shadow-lg shadow-primary/40 transition"
        >Back to Home</a
      >
      <button id="backward" class="text-sm text-primary">Previous Page</button>
    </div>
  </div>
</MainLayout>

<script>
  const backwardBtn = document.querySelector("#backward");
  if (backwardBtn) {
    backwardBtn.addEventListener("click", () => {
      window.history.back();
    });
  }
</script>
